<p id="notice" class="show_text">
	<%= notice %>
</p>

<div class="field">
	<p class="show_text"><strong>Title: </strong><%= @book.title %></p>
</div>
<div class="field">
	<p class="show_text"><strong>Body: </strong><%= @book.body %></p>
</div>

<%= link_to 'Edit', edit_book_path(@book.id) %> | <%= link_to 'Back', "/books" %>